<div class="login-container" fxLayout="column" fxLayoutAlign="center center">
  <h1>Auto Repair Assistance</h1>
  <h3 style="font-style: italic;color: lightgray;">by Lashween for LKW</h3>
  <form fxLayout="column" [formGroup]="loginForm" (ngSubmit)="login()" autocomplete="on">
    <div>
      <mat-form-field appearance="fill">
        <mat-label>Email</mat-label>
        <input type="text" matInput formControlName="username" autocomplete="username" />
      </mat-form-field>
    </div>
    <div>
      <mat-form-field appearance="fill">
        <mat-label>Password</mat-label>
        <input type="password" matInput formControlName="password" autocomplete="current-password" />
      </mat-form-field>
    </div>
    <div fxLayoutAlign="space-between">
      <button mat-raised-button color="primary" type="submit" [class.spinner]="isLoading"
        [disabled]="!loginForm.valid || isLoading">
        Login
      </button>
      <button mat-raised-button color="secondary" routerLink="/register">
        Register
      </button>
    </div>
  </form>
</div>