<div class="workshops-container" fxLayout="column" fxLayoutAlign="center center">
    <div class="heading">Workshops Near You</div>
    <div
        style="height:100%; width:100%; max-width: 99vw; border:2px solid #eee; display:inline-block; overflow:hidden;border-radius: 5px;">
        <iframe src="https://www.google.com/maps/d/embed?mid=1sN94lYPVfENWG9I3TUNmea5iTbqrmEQ4" frameborder="0"
            style="position:relative; top:-55px; border:none; width: 100%; height: 100%;" allowfullscreen></iframe>
    </div>
</div>