<!--mat-progress-bar
  mode="indeterminate"
  *ngIf="loading$ | async"
  id="fixed-progress-bar"
></mat-progress-bar-->
<mat-toolbar color="accent">
  <div class="logo">
    <!--img src="../../../assets/header/header-logo.png" alt="logo" /-->
  </div>
  <div #headerItems fxFlex fxLayout fxLayoutGap="5px" fxLayoutAlign="end center">
    <div routerLink="/reviews" class="icon-text" matRipple>
      <mat-icon class="pad">star_border</mat-icon>
      <span fxHide.lt-sm>REVIEWS</span>
    </div>
    <div routerLink="/about" class="icon-text" matRipple>
      <mat-icon class="pad">contact_support</mat-icon>
      <span fxHide.lt-sm>ABOUT</span>
    </div>
    <div class="user-account" *ngIf="user$ | async as user">
      <div class="icon-text" [matMenuTriggerFor]="beforeMenu" matRipple>
        <mat-icon class="pad">account_circle</mat-icon>
        <span fxHide.lt-sm>{{ user.name || user.email }}</span>
        <mat-icon>expand_more</mat-icon>
      </div>
      <mat-menu #beforeMenu="matMenu" xPosition="before">
        <!--      <button mat-menu-item routerLink="profile">Profile</button>-->
        <button mat-menu-item (click)="logout()">Logout</button>
      </mat-menu>
    </div>
  </div>
</mat-toolbar>

<!--mat-progress-bar
  mode="indeterminate"
  *ngIf="loading$ | async"
></mat-progress-bar-->
<!--<mat-progress-bar mode="determinate" value="100" *ngIf="!loading"></mat-progress-bar>-->