<div class="reviews-container" fxLayout="column" fxLayoutAlign="center center">
    <h1>Testimonials</h1>
    <div class="review">
        <div class="author">Asfand</div>
        <div class="content">I would just like to say thank you for your prompt and effective service, for your friendly
            and professional support
            staff! I will recommend your expert company to all my friends.</div>
    </div>
    <div class="review">
        <div class="author">Raheel</div>
        <div class="content">Wow, I'm so happy with your service. You managed to exceed my expectations! You guys are
            very efficient and I will refer
            more people to your company!</div>
    </div>
    <div class="review">
        <div class="author">Suriya</div>
        <div class="content">Thank you very much. I’m impressed with your service. I’ve already told my friends about
            your company and your quick
            response, thanks again!</div>
    </div>
</div>