.order-container {
  min-height: 100%;
  min-width: 100%;

  @media screen and (min-width: 960px) {
    padding: 0 25px;
  }

  .list-container {
    margin-top: 10vh;
    @media screen and (max-width: 959px) {
      padding: 15px;
    }
    .order-list {
      width: 100%;
      max-width: 800px;
      .order-header {
        font-weight: 500;
      }
      .order-row {
        cursor: pointer;
      }
      .order-header,
      .order-row {
        border: 1px solid lightgray;
        border-radius: 5px;
        margin: 5px 0;
        padding: 5px 8px;
        div {
          flex-shrink: 0;
        }
        button {
          font-size: 12px;
          line-height: 12px;
          min-width: unset !important;
          padding: 5px 5px !important;
        }
      }
    }
  }
}
