<div class="request-container" fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="10vw" fxLayoutGap.lt-md="5vh">
  <div class="form-container" fxLayout="column" fxFlex="100%" fxLayoutAlign="start center"
    fxLayoutAlign.lt-md="start center">
    <div fxFlex="10%" fxFlex.lt-md="0%" style="width: 100%"></div>
    <div fxFlex="90%" fxFlex.lt-md="100%" fxLayout="column" fxLayoutAlign="center center">
      <div class="request-title">
        <h1>Request for Assistance</h1>
      </div>
      <form class="request-form" fxLayout="column" fxLayoutGap="10px" fxLayoutGap.lt-md="5px" [formGroup]="RequestForm"
        fxLayoutAlign="center center">
        <div>
          <mat-form-field appearance="fill">
            <mat-label>Name</mat-label>
            <input type="text" matInput formControlName="name" />
          </mat-form-field>
        </div>
        <div>
          <mat-form-field appearance="fill">
            <mat-label>Car Model</mat-label>
            <input type="text" matInput formControlName="carModel" />
          </mat-form-field>
        </div>
        <div>
          <mat-form-field appearance="fill">
            <mat-label>Issue</mat-label>
            <textarea matInput formControlName="issue"></textarea>
          </mat-form-field>
        </div>
        <div>
          <mat-form-field appearance="fill">
            <mat-label>Location</mat-label>
            <input type="text" matInput formControlName="location" />
          </mat-form-field>
        </div>
        <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="10px">
          <button mat-raised-button color="primary" type="button" (click)="submit()" [disabled]="!RequestForm.valid">
            Submit
          </button>
        </div>
      </form>
    </div>
  </div>
</div>